.stamp {
  width: 250px;
  margin: 0 2em;
  display: inline-block;
  position: relative;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
  background: radial-gradient(transparent 0px, transparent 7px, white 8px, white);
  /*reducing the gradient size*/
  background-size: 24px 24px;
  /*Offset to move the holes to the edge*/
  background-position: -19px -12px; }

.prix {
  font-size: 2rem;
  line-height: .9;
  display: block;
  margin: 0; }

.ticket {
  width: 250px;
  height: 380px;
  margin: 1em 0;
  padding: 2em 0.5em;
  background-color: white; }

.enfant {
  color: #0099ff; }

.adulte {
  color: #009933; }

.senior {
  color: #ff5c33; }

.linkk {
  font-size: 1.8rem;
  line-height: 110%;
  margin: 1.78rem 0 1.424rem 0;
  color: rgba(0, 0, 0, 0.87); }

.linkk:hover {
  color: #ffa726; }

.card-containor {
  width: 100%;
  height: 220px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  text-align: left; }

.card-image {
  position: relative;
  width: 250px;
  height: 100%;
  overflow: hidden;
  background-color: lightgrey; }

.card-image a img {
  width: 140%;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out; }

.card-image a img:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5; }

.right-content {
  width: 80%; }

.card-content p {
  text-align: left !important;
  padding-left: 20px; }

.card-title {
  padding-left: 20px; }

.coin {
  float: right !important;
  margin: 0;
  line-height: 100%; }

.coin i::before {
  font-size: 35px;
  opacity: 0.7; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  transition: .5s ease;
  background-color: orange; }

.card-image:hover .overlay {
  opacity: 0; }

.response {
  margin-bottom: 30px;
  padding: 8px 10px;
  border-radius: 3px;
  color: white; }

.error {
  background-color: rgba(248, 32, 102, 0.2);
  border: 3px solid #F91F66;
  padding: 1em; }

.success {
  background-color: rgba(98, 189, 103, 0.2);
  border: 3px solid #66BB6A;
  padding: 1em;
  margin-bottom: 200px; }

.required, .form-instructions {
  color: #e57373; }

.form-instructions {
  font-size: 1rem;
  margin-left: 0.8em; }

.invisible {
  display: none; }

.fixed {
  z-index: 9999; }

@media screen and (max-width: 801px) {
  .card-image {
    display: none; }
  .card-containor {
    width: 100%;
    height: auto; }
  .right-content {
    width: 100%; } }
