/* MAP */
#mapIn {
  position : relative;

  img {
    position : relative;
  }

  #pointer {
    position : absolute;
    z-index : 9999;
    width : 15px; height : 15px;
    background-color: orangered;
    border-radius: 15px;
    border: 2px solid white;

  }
}

/* Animaux map*/
  .animal-icon {
    position : absolute;
    z-index : 1;
    width : 4%;
    display:none;
  }

      .animal-icon.active {
    display : block;
}


